.loginContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    form{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 20%;
        z-index: 2;
    }
    input{
        padding: 15px;
        margin-top: 1rem;
        border-color: rgb(48, 2, 254);
        border-radius: 8px;
        font-size: 15px;
    }
    button{
        padding: 15px;
        margin-top: 1rem;
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
        border-radius: 8px;
        background-color: rgb(29, 25, 23);
    }
    .signup{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        span{
            color: rgb(18, 3, 3);
        }
        a{
            color: white;
            text-decoration: none;
            font-size: 15px;
            border-radius: 8px;
            padding: 15px;
        }
    }
}
.image{
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
